
body {
    margin: 0;
    font-family: "Poppins", sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3233FA;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family:"Playwrite DE Grund",
}

.personal-info {
    margin: 20px 0;
}

.logo {
    max-width: 100px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 15px;
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
}
